
    :host {
      height: 25px;
      width: 150px;
      font: 1.1em verdana;
      letter-spacing: -1.5px;
    }

    :host div {
      float: left;
    }

    .right-arm {
      /* dirty fix */
      padding-right: 1px;
      backface-visibility: hidden;
      animation: arm-movement 3s ease-in forwards 1;
      transform-origin: center right;
    }

    .left-arm {
      backface-visibility: hidden;
      animation: arm-movement 3s ease-in forwards 1;
      transform-origin: center left;
    }

    .right-hand {
      animation: right-hand-movement ease-in 3s forwards;
    }

    .left-hand {
      animation: left-hand-movement ease-in 3s forwards;
    }

    /* ARM MOVEMENT =============================================================================================*/
    @keyframes arm-movement {
      100% {transform: scaleX(5);}
    }

    /* LEFT HAND MOVEMENT =============================================================================================*/
    @keyframes left-hand-movement {
      100% {transform: translateX(30px);}
    }

    /* RIGHT HAND MOVEMENT =============================================================================================*/
    @keyframes right-hand-movement
    {
      0%	 {transform: translateX(-1px);}
      100% {transform: translateX(-30px);}
    }
